body{
  box-sizing: border-box;
  background: #ffffff;
  font-size: 16px;
}
.VCbold{
  color: #1abc9c;
  font-weight: bold;
}
.Nbold{
  color: #ff7200;
  font-weight: bold;
}
.titulos{
  padding: 6.25rem 0 4.6875rem 0;
}
/*------------------------------------------------------------------------------
HEADER
------------------------------------------------------------------------------*/
/*nav top*/
.navTop{
  height: 0.5rem;
  background: #1abc9c;
}



/*nav principal*/
.navPr{
  margin-top: 2.5rem;
}
.navPr a{
  color: #000000;
  font-weight: bold;
}
.navPr a:hover{
  color: #1abc9c;
}
.carrito a{
  color: #000000;
  text-decoration: none;
}
.carrito span{
  color: #1abc9c;
}



/*slider*/
.imcar{
  width: 100%;
  height: 30rem;
}
/*botones slider*/
.carousel-control-prev{
  background: #1abc9c;
  width: 4.2rem;
  height: 4rem;
  padding: 1rem 0;
  border-radius: 5rem;
  margin-top: 20%;
}
.carousel-control-next{
  background: #1abc9c;
  width: 4.2rem;
  height: 4rem;
  padding: 1rem 0;
  border-radius: 5rem;
  margin-right: 2rem;
  margin-top: 20%;
}

.imcover{
  width: 100%;
  height: 30rem;
}




/*------------------------------------------------------------------------------
MAIN
------------------------------------------------------------------------------*/
/*section1*/
.section1{
  margin-left: 0;
  margin-top: 6.25rem;
}
/*informacion del section1*/
.section1 h3{
  margin-top: 3.125rem;
  font-size: 1.125rem;
  text-align: center;
}
.section1 i:hover, .section1 h3:hover{
  color: #1abc9c;
}
.section1 p{
  font-size: 0.875rem;
  text-align: center;
}





/*section4*/
/*fondo section4*/

.fondo1{
  height: 100%;
}


/*section9*/
/*informacion y boton del section9*/
.producto1 h5{
  margin-top: 0.5rem;
  font-size: 1.125rem;
  color: #555252;
}
.producto1 p{
  font-size: 0.875rem;
  color: #555252;
}
.producto1 input{
  background: #1abc9c;
  border: 0.125rem solid #1abc9c;
}
.botonP1{
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 6.25rem;
}

/*section10*/
.section10{
  /*fondo del section10*/
  background: url(https://res.cloudinary.com/jbrionesc/image/upload/v1646591995/Proyectos_portones_LK/fondoFooter.png);
  background-size: cover;
  width: 100%;
  height: 44.6875rem;
}
/*informacion del section10*/
.infoS10 h2{
  color: #ffffff;
}
.infoS10 h6{
  font-weight: normal;
  font-size: 1.125rem;
  color: #ffffff;
}
.infoS10 p{
  font-size: 0.875rem;
  color: #ffffff;
}
/*formulario del section10*/
.form-control{
  background: inherit;
  border: 0.0625rem solid #ffffff;
}
.form-control::placeholder{
  color: #ffffff;
}
.form-control:hover{
  border: 0.0625rem solid #1abc9c;
}
.botonS10{
  font-size: 1rem;
  color: #ffffff;
  padding: 0.3125rem 2rem;
  background: #1abc9c;
  border: 0.0625rem solid #1abc9c;
}
.iconS10:hover{
  background: #1abc9c;
  color: #ffffff;
}
.iconS10{
  border: 1px solid #ffffff;
  color: #ffffff;
}

/*footer*/
.footer{
  background: #000000;
}
.footer p{
  color: #ffffff;
}

.red{
  margin-right: 1.5rem;
  color: #ffffff;
}
.face:hover{
  text-decoration: none;
  color: #053da3;
}
.insta:hover{
  text-decoration: none;
  color: #cf1196;
}
.whats:hover{
  text-decoration: none;
  color: #2dc008;
}


.selec{
  color:#ffffff;
}
/*Styles para agregar error en validacion de espacios vacios*/
.error_input{
  border: 2px solid #e17055;
}
